.choice {
  margin-top: 180px;

  p {
    padding-right: 10px;
  }

  .btn {
    margin-top: -57px;
    margin-right: 50px;
  }

  .right {
    img {
      margin-top: 8px;
    }

    .middle {
      position: absolute;
      background-color: #fff;
      margin-top: 200px;
      margin-left: -70px;
    }
  }
}
