.team {
  margin-top: 180px;

  p {
    padding: 50px 200px 0 0;
  }

  .heading {
    text-align: end;
  }

  .members {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

    h4 {
      text-transform: uppercase;
      font-weight: 800;
      padding-top: 50px;
      align-self: flex-start;
    }

    p {
      margin: 0;
      padding: 0;
      align-self: flex-start;
    }

    img {
      border-radius: 0;
    }
  }
}
